.semaforo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 400px;
    width: 160px;
    margin: 2em auto 0;
    border-radius: 10px;
}

.rojo {
    background-color: red;
    height: 100px;
    width: 60%;
    border-radius: 10em;
}

.amarillo {
    background-color: yellow;
    height: 100px;
    width: 60%;
    border-radius: 10em;
}

.verde {
    background-color: green;
    height: 100px;
    width: 60%;
    border-radius: 10em;
}

.brillo {
    box-shadow: -2px -5px 43px 17px rgba(221,224,69,0.75);
    -webkit-box-shadow: -2px -5px 43px 17px rgba(221,224,69,0.75);
    -moz-box-shadow: -2px -5px 43px 17px rgba(221,224,69,0.75);
}